<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="WeChatEntities" connectionString="metadata=res://*/Chat.csdl|res://*/Chat.ssdl|res://*/Chat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=11CD0VOK6AJCSH3\SQLEXPRESS;initial catalog=WeChat;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
