<?xml version="1.0" encoding="utf-8"?>
<config>
  <!--交强险保险公司-->
  <CompulsoryGS value="人保">人保</CompulsoryGS>
  <CompulsoryGS value="太保">太保</CompulsoryGS>
  <CompulsoryGS value="平安">平安</CompulsoryGS>
  <CompulsoryGS value="阳光">阳光</CompulsoryGS>
  <CompulsoryGS value="中华联合">中华联合</CompulsoryGS>
  <CompulsoryGS value="永诚">永诚</CompulsoryGS>
  <CompulsoryGS value="长安">长安</CompulsoryGS>
  <CompulsoryGS value="其他">其他</CompulsoryGS>

</config>